!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title 6x9.fr - Mayeu's webpage
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag 'bootstrap.min'
    :css
      body {
          padding-top: 60px;
          padding-bottom: 40px;
      }
    = stylesheet_link_tag 'bootstrap-responsive.min', 'main', 'mfglabs_iconset'
    = javascript_include_tag 'vendor/modernizr-2.6.2-respond-1.1.0.min'

  %body
    /[if lt IE 7]
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    / This code is taken from http://twitter.github.com/bootstrap/examples/hero.html
    .container
      .row
        .span10

          .row
            .span8.offset1
              // Header
              %header.page_header.clearfix
                = image_tag 'ornaments_left.png', :width => 100, :class => 'pull-left'
                = image_tag 'ornaments_right.png', :width => 100, :class => 'pull-right'
                %h1 6x9
                .clearfix
                %h2 Bits Artisan since 2005

          %hr.top/

          // Navbar
          .pull-center
            %ul.nav.nav-pills
              %li
                = link_to 'About me', '/'
              /%li
              /  = link_to 'Blog', '/blog'
              /%li
              /  = link_to 'My resume', '/files/matthieu_maury_resume.pdf'
              %li
                = link_to 'Contact', '/contact'

          .pull-center
            %ul.nav.nav-pills.list-icon
              %li
                %a{ :href => 'https://github.com/Mayeu'}
                  %i.icon-octopus 
              %li
                %a{ :href => 'https://twitter.com/Mayeu'}
                  %i.icon-twitter 
              %li
                %a{ :href => 'http://fr.linkedin.com/in/mmaury/en'}
                  %i.icon-linked_in
          / /.nav-collapse

      .row
        .container

          .span8.offset1
            = yield

      .row
        .span10
          %hr.bottom/
      .row
        .span8.offset1
          %footer
            %p
              CC-BY-SA unless specified otherwise | Font by
              = link_to 'Igino Marini', 'http://iginomarini.com/fell/'
              and
              = link_to 'MFG Labs', 'http://mfglabs.github.com/mfglabs-iconset/'

    / /container
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')
    = javascript_include_tag '/vendor/bootstrap.min', 'plugins', 'main'
